@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    
}


   

    <div>
        <br><br><h2>Salman Yahya</h2><br><
        <h4>Career start</h4><br>
        <p>
            
My name is Salman Yahya. I graduated from Chalmers University of Technology. Now, I am looking for my first full-time job. 
I have been working as a part time wordpress developer and customer support for the last 4 years years and cooperated with several startups.
I cannot say with 100% confidence where I see myself in five years or what my big career goal is. 
The world is changing rapidly, and I don’t have enough professional experience to be certain about such things. 
However, I know that I can provide a fresh take and an extraordinary approach to every project. 
I am always open to challenges and constructive feedback. I am open-minded and learn new things quickly. 
I want to become a team player and dedicate all my skills and talents to develop high-quality and unique products.
</p><br>
<br><h4>Career advancement</h4>
<br><p>
Right now, I am looking for a job as system developer and project manager. I have 5 years of experience in IT related job positions. 
I started working as a Customer Care Agent in a IT company.
I am a team player. I am outgoing, dedicated, and open-minded. I get across to people and adjust to changes with ease. 
I believe that a person should work on developing their professional skills and learning new things all the time. 
Currently, I am looking for new career opportunities my current job position cannot provide. 
I have enough experience to occupy a managing position and I will be glad to work on increasing the customer loyalty rate of your company.
<p><br>
    <br><h4>Career change</h4>

<p>
I decided to change my occupation after five years of working in support. 
I still like communicating with people and work in a team. 
I want to alter the accents a bit and switch to system Developer and project manager. 
       <p>
    </div> <br> <br> <br> <br>

