@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Contact";
}

<h1><br><br>Contact<br><br></h1>

<!DOCTYPE html>



        <!--Contact form -->   

<hr />
    <form>
    <div class="mb-3"> </div>
    <label for="exampleInputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Do you accept terms of this page?</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br> <br> <br>


<body>
        
        <h3>Contact details</h3>
        <ol>
            <li>
                Email:salmanhasan@live.se
            </li>
            <li>
                076-1883-683
            </li>
            <li>
                Mandolingatan 41, Västra Frölunda
            </li>
        </ol>
    
</body>


