

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>
<body>
    <!-- Main page area -->
    <div id="core-container"> </div>
        <div name="main-content" id="main-index">

            <!-- Main header -->
            <div id="first-content">
               <br> <h2>My Favourite City</h2><br>
                <p>
                    Dhaka, bangladesh is my birth city while I have passed my most of the later stage of life in Gothenburg, Sweden. 
                    I love both cities, equally. Both cities are beautiful and amazing in its own way.
                </p>
            </div>

            <!-- Articles -->
            <div id="articles">
                <article id="first-article">
                    <br><h2>Dhaka City</h2>

                    <p>
                        Dhaka, also spelled Dacca, city and capital of Bangladesh. It is located just north of the Buriganga River, 
                        a channel of the Dhaleswari River, in the south-central part of the country. Dhaka is Bangladesh’s most populous city and is one of the largest
                        metropolises in South Asia.
                    
                        Dhaka’s name is said to refer to the dhak tree, once common in the area, or to Dhakeshwari (“The Hidden Goddess”), 
                        whose shrine is located in the western part of the city. Although the city’s history can be traced to the 1st millennium CE, the city did
                        not rise to prominence until the 17th century, when it served as the capital of the Muslim Mughal dynasty of Bengal province (1608–39 and 1660–1704). 
                        It was the centre of a flourishing sea trade, attracting English, French, Armenian,
                        Portuguese, and Dutch traders.
                    </p>
                    <br>
                    <br>

                </article>
                <article id="second-article">
                   

                                       
                    <p> Dhaka City formerly spelled Dacca, named Jahangirnagar during Mughal era is the capital of Bangladesh and the principal city of Dhaka Division. 
            Dhaka is a megacity and one of the major cities of South Asia. Located on the banks of the Buriganga River, Dhaka, along with its metropolitan area, 
            had a population of over 16 million in 2011, making it the largest city in Bangladesh. It is the 9th largest city in the world and also 28th among the 
            most densely populated cities in the world. Dhaka is known as the City of Mosques and with 400,000 cycle rickshaws running on its streets every day, 
            the city is also described as the Rickshaw Capital of the World.</p>
                    <br>
                    <br>

                </article>

                

            </div>
        </div>
    

    
</body>
</html>


