@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


    <br><br>
    <h4>Here is a some projects link I have worked. Links will be forwarder to my github reposotory</h4>
    <br>
    <div>
                
                    
                    <ui>
                        <a href="https://github.com/salmancth/VendingMachine" target="_blank"> Vending Machine with C# .NET</a> <br>
                    </ui>
                    
                    
                    <ui>
                        <a href="https://github.com/salmancth/Sokoban" target="_blank"> Sokoban with HTML/CSS/JS</a> <br>
                    </ui>
                    <ui>
                        <a href="https://github.com/salmancth/Rock-Paper-Scissors" target="_blank"> Rocket Paper scissor with HTML/CSS/JS</a> <br>
                    </ui>
                    <ui>
                        <a href="https://github.com/salmancth/HangmanGame" target="_blank"> HangMan Game with C# .NET</a> <br>
                    </ui>   
                    <br><br>

                
            </div>