
html {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 5px auto;
    padding: 0;
    max-width: 1024px;
}

nav {
    background-color: #a0bfb0;
    border: solid 2px #a0bfb0;
    border-radius: 5px;
}

a {
    color: #f9fafb;
    text-decoration: solid;
}

img {
    max-block-size: 150px;
    padding: 10px 20px 5px 0px;
}
nav ul {
    list-style-type: none;
    display: inline;
    text-align: center;
    width: 100%;
}
ul li {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: larger;
    color: #f9fafb;
    text-decoration: overline;
    padding: 2px;
    margin: 1px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #a0bfb0;
    padding: 15px 0px;
    position: relative;
}
