
@model PeopleViewModel;


<!DOCTYPE html>
<html>
<head>
    <title> People List</title>
</head>
<body>


    <div>
        <form asp-action="PeopleList" method="post" role="form">
            <h3>Find Person by Name or City</h3>
            <label asp-for="Filter"> Search here</label>
            <input asp-for="Filter" required />
            <input type="submit" name="btnFilter" value="Find" />


        </form>
    </div>
    <br />
    <div>
        <form asp-action="CreatePerson" method="post" role="form">

            <div>
                <h4><b>Add New Person</b></h4>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <br />
                <span style="color:darkgreen" asp-validation-for="Name"></span>

                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" />
                <br />
                <span style="color:darkgreen" asp-validation-for="PhoneNumber"></span>

                <label asp-for="City"></label>
                <input asp-for="City" />
                <br />
                <span style="color:darkgreen" asp-validation-for="City"></span>
            </div>
            <input type="submit" name="btnCreatePerson" value="Add New Person" />

        </form>
    </div>
    <br />
    @* correcting the partial View **@

    <div class="container">
        <div class="row row-cols-md-5 justify-content-md-between">

            <div class="col-lg"><b> #</b></div>
            <div class="col-bold">
                <b>Name</b>
            </div>
            <div class="col-bold">
                <b>Telephone Number</b>
            </div>
            <div class="col-bold">
                <b> City</b>
            </div>
            <div class="col-bold"><b>Action</b></div>
        </div>
    </div>

    <div class="container">

        @foreach (var person in Model.PeopleListViewModel)
        {
<partial name="_partialPersonList" model="person" />            }
    </div> <br><br><br>

</body>
</html>



